[user]
	name = Thomas Cyron
	email = thomas@thcyron.de
[color]
	status = auto
	diff = auto
	branch = auto
[alias]
	ci = commit -v
	co = checkout
	st = status
	dc = diff --cached
	d = diff
	aa = add --all
	au = add -u
[commit]
	status = true
